Introduction
---

__Team Members: Isaiah Dornelus, Bobbi Byrd, Adam Abaker, Erika Johnson, Kenneth Burwell-Tibbs__


*What is classification?*


Classification is the arrangement of objects into categories based on aspects it shares with others. We will be doing this with data on abalones.

---

*What are abalones?*


Abalones are a type of marine snail that are fished in places like the western U.S., Japan, Mexico, and Africa. They can also be raised on farms. An abalone's age can be determined by cutting the shell and counting the number of rings, which is time consuming. 

---


*What is our goal?*


Our goal is to make a Guassian Naive Bayes Classifier model that can accurately predict the abalone number of rings and/or age based off of different traits.

---

*Ethical Considerations*

Our model can be used to find out where abalones are struggling by using their average age, and without the need to cut their shells. This can help put restrictions on where there is overfishing. Knowing an abalone's age can also help farmers quickly find a market price.

Imports
---

Imports are necessary because not all of the coding tools for the data are available from the start.

In [ ]:
import numpy as np
import pandas as pd

---

Exploratory Data Analysis
===

Loading Data
---

The open commands took in a path to the file that needs to be read and printed out what was in it. Next, we'll do the same for the actual data.

In [ ]:
file1 = open('/content/abalone assignment 4  data .names')

for data in file1:
  print(data)

In [ ]:
file2 = open('/content/abalone assignment 4 data.data')

abalone_data = pd.DataFrame(data= file2)
abalone_data

Here is a data frame that contains the abalone information. Each row of data was loaded into a single column.

---

Setting Up The DataFrame
---

In [ ]:
string = abalone_data.loc[abalone_data.index == 0].values[0][0] #Take and show one specific row from the data
string

An index has the labels for every row. The loc command selected row 0. The values command takes the value(s) in the row. A single column has the data for multiple columns combined into one string (combination of characters). It needs to be separated using the split command at each comma (,).

In [ ]:
string.split(',')

Now these values can be put into separate columns in a new data frame called abalone_df.

In [ ]:
string0 = abalone_data.loc[abalone_data.index == 0].values[0][0]
string0 = pd.Series(string0.split(',')) #A series is needed to work with the datframe command
abalone_df = pd.DataFrame([string0])
abalone_df

We are going to create a list with every value in the index except the first because we need to add the others to abalone_df.

In [ ]:
Rows_except0 = list(range(1, len(abalone_data.index)))

Next we are going to make a for loop. It selects a string from the rows in the abalone data, repeats what was done in the code cells above, and puts it into the new dataframe.

In [ ]:
for i in Rows_except0:
  string = abalone_data.loc[abalone_data.index == i].values[0][0] #Select each string from the data
  string = pd.DataFrame(string.split(',')).transpose() #The values load in as columns, so we transpose them to turn them into rows
  abalone_df = pd.concat([abalone_df, string], axis = 0) #These values are then added to the new dataframe.

In [ ]:
abalone_df

There are no labels for the columns. However, the 'abalone assignment 4  data .names' file that was printed earlier had a list of categories for the data, so we will use those as labels.

In [ ]:
columns = ['Sex', 'Length (mm)',	'Diam (mm)',	'Height (mm)',	'Whole Weight (grams)',	'Shucked Weight (grams)',	'Viscera Weight (grams)',	'Shell Weight (grams)',	'Rings']
abalone_df.columns = columns
abalone_df.columns

---

Repairing Data
---

In [ ]:
abalone_df

In [ ]:
abalone_df['Rings'].values

The Rings values are strings and have a '\n' portion that we need to take off. This next code replaces every '/n' with an empty string. Then every value in the Rings is set as a floating number (number with a decimal)

In [ ]:
abalone_df = abalone_df.replace('\n','', regex=True)
abalone_df['Rings'] =  abalone_df['Rings'].astype(int)
abalone_df['Rings'].values

The total_rows variable will also be used to fix the index of zeros.

In [ ]:
Total_rows = list(range(0 , len(abalone_data.values)))

In [ ]:
abalone_df.index = Total_rows
abalone_df

And now to sort it by the total number of rings.

In [ ]:
abalone_df = abalone_df.sort_values(by = 'Rings')

---

Repairing Data (Continued)
---

Now to show information about the data.

In [ ]:
abalone_df.describe()

There's one more problem with abalone_df. The describe command takes information about the columns such as the mean and only works with numbers. Only 1 column is showing, so the others must have string values.

In [ ]:
columns

A for loop will convert the numerical columns into floating numbers (numbers with decimals). Values from an array of column names are selected. Then, the data frame column with the same name is converted into floats.

In [ ]:
for column in abalone_df.columns.drop('Sex'):
  abalone_df[column] = abalone_df[column].astype(float)

Now to try the describe command again.

In [ ]:
abalone_df.describe()

We also need check for missing values, usually labaled as NaN.

In [ ]:
abalone_df.isna().any().any()  #Check for missing values

In [ ]:
abalone_df #See repaired dataframe

---

---

Visualizations
---

Sex

Next, we'll look at each individuatl column.

In [ ]:
import matplotlib.pyplot as plt
print('Sex')
plt.hist(abalone_df['Sex'].values)
plt.xlabel('Sex')
plt.ylabel('Abalones')

Most of the abalones are male.

---

Length

In [ ]:
print('Length (mm)')
plt.hist(abalone_df['Length (mm)'].values)
plt.xlabel('mm')
plt.ylabel('Abalones')

A large portion of the abalones have a length around 0.5 to 0.7 mm.

---

Diameter

In [ ]:
print('Diameter (mm)')
plt.hist(abalone_df['Diam (mm)'].values)
plt.xlabel('mm')
plt.ylabel('Abalones')

Abalones tend to have a diameter around 0.4 to 0.5 mm.

---

Height

In [ ]:
print('Height (mm)')
plt.hist(abalone_df['Height (mm)'].values)
plt.xlabel('mm')
plt.ylabel('Abalones')

Almost all abalones have a height less than .02 mm.

---

Whole Weight

In [ ]:
print('Whole weight (grams)')
plt.hist(abalone_df['Whole Weight (grams)'].values)
plt.xlabel('grams')

Nearly all of the abalones have a total weight under 2 grams, and the majority under 1.5 grams.

---

Shucked Weight

In [ ]:
print('Shucked Weight (grams)')
plt.hist(abalone_df['Shucked Weight (grams)'].values)
plt.xlabel('grams')
plt.ylabel('Abalones')

Most of the analones have a shucked weight under .8 grams, with outliers up to 1.4 grams.

---

Viscera Weight

In [ ]:
print('Viscera Weight (grams)')
plt.hist(abalone_df['Viscera Weight (grams)'].values)
plt.xlabel('grams')
plt.ylabel('Abalones')

Alot of the viscera weights are under 0.4 grams.

---

Shell Weight

In [ ]:
print('Shell Weight (grams)')
plt.hist(abalone_df['Shell Weight (grams)'].values)
plt.xlabel('grams')
plt.ylabel('Abalones')

Shell weights mostly fall under 0.6 grams.

---

Number of Rings

In [ ]:
print('Rings')
plt.hist(abalone_df['Rings'].values)
plt.xlabel('# of Rings')
plt.ylabel('Abalones')

Many abalones have around 10 total rings.

---

---

Data Preparation
===

One-Hot Encoding
---

The non-numerical values need to be changed to numbers, otherwise the model will not work. The problem would be the 'Sex' column. The next cell shows the different valus.

In [ ]:
abalone_df['Sex'].unique()

There are 3 unique values which need to be one-hot encoded. One-hot encoding is selecting a string(s) or non-numerical value(s) and changing it to a number. The loc command specifies a row and column, then sets it equal to something.

In [ ]:
#Change genders to numerical values
abalone_df.loc[abalone_df['Sex'] == 'I', 'Sex'] = 0
abalone_df.loc[abalone_df['Sex'] == 'M', 'Sex'] = 1
abalone_df.loc[abalone_df['Sex'] == 'F', 'Sex'] = 2

The unique values should now be 0, 1, and 2.

In [ ]:
abalone_df['Sex'].unique()

Target and Features
---

Features are what we use to predict the target or class. The number of rings (target) will be predicted. All columns except 'Rings' are defined as the features.

In [ ]:
#Define target and features

FEATURES = abalone_df.columns[:-1]
target = 'Rings'
FEATURES, target

---

---

Model 1
===

Train/Test Split
---

Now the data will be split with sklearn's train/test split command. 70% is used in the training set to train the model  to predict the target. 30% of the data will be used to test the model accuracy. Shuffle and random state will randomize the data.

In [ ]:
#Train/Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    abalone_df[FEATURES],
    abalone_df[target],
    test_size=0.30,
    random_state=300,
    shuffle=True,
)
print(X_train.size, y_train.size)
print(X_test.size, y_test.size)

---

Model 1 setup (Gaussian Naïve Bayes Classifier) 
---

The model uses  the Gaussian Naïve Bayes Classifier. It will try to categorize data by predicting the total number of rings (in other words, classify it). It needs to imported and fitted with the training data.

In [ ]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train, y_train)

Now that the model knows how to classify the data. the next cell tells it to categorize the testing set.

In [ ]:
y_pred = model.predict(X_test)

We'll now get the accuracy of the model's predicted target values of the test set versus the true values.

In [ ]:
from sklearn.metrics import  accuracy_score
Gaussian_accuracy = accuracy_score(y_test, y_pred)
print("Model 1 Accuracy:", Gaussian_accuracy )

The accuracy is extremely low, so there is something we need to change.

---

Model 2
===

In this model we will exclude features

Redefine Targets and Features (Model 2)
---

We will make a heatmap showing a correlation between features in model 1.

In [ ]:
import seaborn as sns
from seaborn import heatmap

sns.heatmap(abalone_df[FEATURES].corr(), annot = True)

A value of 1 means a perfect correlation/dependence (which may not be good). Some of the features have a  strong correlation.  For model 2 we will keep only Sex, Diam (diameter), height, and whole weight to narrow down then dependent features.

In [ ]:
to_delete =  np.array(['Length (mm)', 'Viscera Weight (grams)', 'Shucked Weight (grams)', 'Shell Weight (grams)'])
to_delete

Above is an array of features to exclude. The next cell defines the feature 2  as model 1's features, excluding the new array. The target is not changed.

In [ ]:
target2 = 'Rings'
features2 = np.delete(FEATURES, np.isin(FEATURES, to_delete))
features2, target2

---

Train/Test Split (Model 2)
---

In [ ]:
X2_train, X2_test, y2_train, y2_test = train_test_split(
    abalone_df[features2],
    abalone_df[target2],
    test_size=0.30,
    random_state= 300,
    shuffle=True,
)
print(X2_train.size, y2_train.size)
print(X2_test.size, y2_test.size)

---

Model 2 setup
---

In [ ]:
model2 = model
model2.fit(X2_train, y2_train)
y2_pred = model2.predict(X2_test)

In [ ]:
Gaussian_accuracy2 = accuracy_score(y2_test, y2_pred )
print("Model 2 Accuracy:", Gaussian_accuracy2)

The difference compared to model 1 are negligible.

---

---

Model 3
===

In this model we will put model 1's targets into 3 groups: 1 to 4 rings means 'Young', 5 to 15  will be 'Middle Age', and over 15 will be 'Old'. The features are the same as model 1.

One-hot encoding (Model 3)
---

In [ ]:
abalone_df['Rings'].values.min()

In [ ]:
abalone_df['Rings'].values.max()

The model has a range of values from 1 to 29.

In [ ]:
abalone_df['Age'] = 0

The values for the 'Age' column needs to be set. 'for' is saying to select each ring column value (i). 'if' and 'elif' set conditions depending on what 'i' is. Lastly, the loc command selects and sets creates a value of the age column. The groups will be Young, Middle Age, or Old.

In [ ]:
for i in abalone_df['Rings']:
  if 1<= i  and i <= 4:
    abalone_df.loc[abalone_df['Rings'] == i, 'Age'] = 'Young'                #Young abalones have less than 5 rings
  elif 5 <= i and i<= 15:
    abalone_df.loc[abalone_df['Rings'] == i, 'Age'] = 'Middle Age'            #Middle Age abalone have between 5 and 15 rings.
  elif 15<= i:                                                                
    abalone_df.loc[abalone_df['Rings'] == i, 'Age'] = 'Old'                    #Old abalone have greater than 15 rings.
abalone_df['Age'].unique()

Using the same idea, we will create a new column called 'Age_group'. It will be a numerical key for 'Age' and be set as the new target.

In [ ]:
abalone_df['Age_group'] = 0

Young = Age Group 0, Middle Age = Age Group 1, Old = Age Group 2.

In [ ]:
for i in abalone_df['Age']:
  if i == 'Young':
    abalone_df.loc[abalone_df['Age'] == i, 'Age_group'] = 0    #Young abalone = Age group 0
  elif i == 'Middle Age':
    abalone_df.loc[abalone_df['Age'] == i, 'Age_group'] = 1            #Middke Age abalone = Age group 1
  elif i == 'Old':
    abalone_df.loc[abalone_df['Age'] == i, 'Age_group'] = 2         #Old abalone = Age group 2

In [ ]:
abalone_df['Age_group'].unique()

In [ ]:
abalone_df

---

---

Redefine Targets and Features (Model 3)
---

The new target will be defined as 'Age_group'. The features will be the same as model 1.

In [ ]:
target3 = 'Age_group'
features3= ['Sex', 'Length (mm)', 'Diam (mm)', 'Height (mm)', 'Whole Weight (grams)', 'Shucked Weight (grams)', 'Viscera Weight (grams)', 'Shell Weight (grams)']
features3, target3

---

Train/Test Split (Model 3)
---

We create a training and testing set here.

In [ ]:
#Train/Test Split

X3_train, X3_test, y3_train, y3_test = train_test_split(
    abalone_df[features3],
    abalone_df[target3],
    test_size=0.30,
    random_state=300,
    shuffle=True,
)
print(X3_train.size, y3_train.size)
print(X3_test.size, y3_test.size)

---

Model 3 setup
---

And now to get the model accuracy (following the steps done in model 1).

In [ ]:
model3 = GaussianNB()
model3.fit(X3_train, y3_train)
y3_pred = model3.predict(X3_test)

In [ ]:
Gaussian_accuracy3 = accuracy_score(y3_test, y3_pred )
print("Model 3 Accuracy:", Gaussian_accuracy3 )

Gaussian_precision3 = precision_score(y3_test, y3_pred, average = 'weighted', zero_division = 0)

The accuracy more than tripled from model 1, but it could stil be improved.

---

---

Model 4
===

In this model we will use the features of model 2 and the target of model 3.

Redefine Targets and Features (Model 4)
---

In [ ]:
features2, target3

The next cell defines sets the target as model 3's target and the features as model 2's features.

In [ ]:
target4 = 'Age_group'
features4 = ['Sex', 'Diam (mm)', 'Height (mm)', 'Whole Weight (grams)']
features4, target4

---

Train/Test Split (Model 4)
---

We'll split the data.

In [ ]:
#Train/Test Split
X4_train, X4_test, y4_train, y4_test = train_test_split(
    abalone_df[features4],
    abalone_df[target4],
    test_size=0.30,
    random_state=300,
    shuffle=True,
)
print(X4_train.size, y4_train.size)
print(X4_test.size, y4_test.size)

---

Model 4 setup
---

Lastly, we need the accuracy.

In [ ]:
model4 = model
model4.fit(X4_train, y4_train)
y4_pred = model4.predict(X4_test)

In [ ]:
Gaussian_accuracy4 = accuracy_score(y4_test, y4_pred)
print("Model 4 Accuracy:", Gaussian_accuracy4)

The accuracy score is about 86%, which is higher than model 3.

---

---

Model 5
===

This last model will resemble model 4, but we will remove one more feature.

Redefine Targets and Features (Model 5)
---

The next cell shows the correlation of model 4's features

In [ ]:
sns.heatmap(abalone_df[features4 ].corr(), annot= True)

In [ ]:
features4

For this model we will use model 4's features excluding Whole Weight. It has a close of correlation with Diam (0.93). The target will remain as Age_group.

In [ ]:
features5 = ['Sex', 'Diam (mm)', 'Height (mm)']
target5 = 'Age_group'
features5, target5

---

Train/Test Split (Model 5)
---

In [ ]:
X5_train, X5_test, y5_train, y5_test = train_test_split(
    abalone_df[features5],
    abalone_df[target5],
    test_size=0.30,
    random_state=300,
    shuffle=True,
)
print(X5_train.size, y5_train.size)
print(X5_test.size, y5_test.size)

---

Model 5 setup
---

In [ ]:
model5 = GaussianNB()
model5.fit(X5_train, y5_train)

In [ ]:
y5_pred = model5.predict(X5_test)

In [ ]:
Gaussian_accuracy5 = accuracy_score(y5_test, y5_pred )
print("Model 5 Accuracy:", Gaussian_accuracy5 )

The accuracy increased to about 91%.

---

---

Analysis
===

There are our scores from running the cells.

Result
1.   Model 1 Accuracy: 0.24401913875598086
2.   Model 2 Accuracy: 0.23684210526315788cy: 0.7208931419457735
4.   Model 4 Accuracy: 0.8660287081339713
5.   Model 5 Accuracy: 0.9098883572567783

Model 5 was the most accurate, followed by 4, 3, 2, and 1.

Models 1 and 2
---

  Data in models 1 and 2 were classified by the total rings.There were too many different target values or classes in the first 2 models, causing a low accuracy. Removing dependent features made no real difference. Model 3 is has model 1's features, but a new target (Age_group). The new target had fewer (or 3 total) different values and more than tripled the accuracy score.

Models 3 and 4
---

  Models 3 and 4 had much higher accuracies than 1 and 2 because of the amount of unique target values or classes. However, model 4 had a higher accuracy than 3 because we removed some features with a high correlation (or dependence). Having fewer features with dependence on others led to the higher accuracy.

Model 5
---

Model 5 has the best accuracy. It is like model 4, but removes another feature (whole weight) which had a close relation with diameter.

Results
---

  
*  Based on the results, the best way to determine an abalone's age is the diameter, sex, and height. It can be determined as young, middle age, or old. However, the model is not good at finding the precise age.



*  A possible bias in our data is that it may be very generalized. It looks at data of abalones in general, ignoring the species or where they are from. This can make the data less reliable to use locally. It is not possible to get past the generalizations with the current data.